@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&family=Roboto+Condensed&display=swap');

body {
    font-size: 18px;
    font-family: Lato;
    font-weight: normal;
    background: rgb(149, 180, 161);
}