@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&family=Roboto+Condensed&display=swap');

body {
    font-size: 18px;
    font-family: Lato;
    font-weight: normal;
    background: rgb(149, 180, 161);
    color:  #0f141e;
}

h1 {
    color:rgb(38, 82, 121);
}

.card1, .card2, .card3 {
    background-color: rgb(229, 245, 199);
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid rgb(243, 240, 240);
    border-radius: 15px;
}

.card2 {
    background-color: rgb(199, 232, 245);
}

.card3 {
    background-color: rgb(184, 236, 199);
}

